.cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 500px;
  height: 500px;

  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: radial-gradient(circle, rgb(235, 236, 239) 0%, rgba(20, 20, 20, 0) 100%);

  filter: blur(20px);
  opacity: 0.85;
  z-index: 1;
  
  transition: width 0.15s ease, height 0.15s ease, opacity 0.15s ease;
  will-change: transform, opacity;
}
