.cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 800px;
  height: 800px;

  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: radial-gradient(circle, var(--cursor-primary) 0%, var(--cursor-secondary) 35%, transparent 70%);

  filter: blur(20px);
  opacity: 0.85;
  z-index: 1;
  
  transition: width 0.15s ease, height 0.15s ease, opacity 0.15s ease;
  will-change: transform, opacity;
}
